@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: rgb(75, 73, 73);
  box-sizing: border-box;
}

h1 {
  text-align: center;
  background-color: rgb(57, 52, 52);
  color: antiquewhite;
}

h2 {
  text-align: center;
}

h3 {
  font-weight:normal;
  text-align: center;
  color: antiquewhite;
}

#education, #personalInfo, #workExperience {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

button {
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#left {
  width: 50%;
  float: left;
}

#right {
  width: 50%;
  float: right;
}

#showInfo {
  word-break: break-all;
  border: 2px solid rgb(55, 50, 42);
  background-color: rgb(55, 50, 42);
  color: antiquewhite;
}


#experience {
  word-break: break-all;
}

p{
  margin: 0.7em;
}

#preview {
  border: 2px solid black;
}